---
title: Projects
layout: page_projects
---
<div style="margin-top: 30px; margin-bottom: 30px;"></div>
<div style="display: flex; flex-direction: column; gap: 20px;">

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">September 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      <a href="https://arxiv.org/abs/2505.17661">"Automated scientific minimization of regret for cognitive modeling"</a> accepted as a poster at NeurIPS 2025 AI4Science workshop in San Diego, USA!
    </span>
</div>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">September 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      <a href="https://arxiv.org/abs/2502.00879">"Generating Computational Cognitive Models using Large Language Models"</a> accepted to NeurIPS 2025 to be held in San Diego, USA!
    </span>
  </div>

<div style="display: flex; justify-content: space-between; align-items: center;">
  <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">March 2025</span>
  <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
    Our paper <a href="https://www.nature.com/articles/s41746-025-01512-6">“Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in Large Language Models</a> received wide media coverage in March! 
     The <a href="http://www.nytimes.com/2025/03/17/science/chatgpt-digital-therapists-anxiety.html">New York Times</a>, <a href="https://fortune.com/2025/03/09/openai-chatgpt-anxiety-mindfulness-mental-health-intervention/?abc123">Fortune</a>, 
     and <a href="https://www.sciencedaily.com/releases/2025/03/250303141645.htm">ScienceDaily</a> all featured pieces on our findings.
  </span>
</div>

    
<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">February 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      <a href="https://www.nature.com/articles/s41746-025-01512-6">“Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in
        Large Language Models</a> has been accepted by npj Digital Medicine!
    </span>
  </div>

    
    <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">February 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> <a
        href="https://arxiv.org/abs/2502.00879">"Towards Automation of Cognitive Modeling using Large Language Models"</a> accepted to the 2025 Multi-disciplinary Conference on Reinforcement Learning and Decision Making (RLDM). 
    </span>
  </div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">January 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> <a
        href="https://arxiv.org/abs/2410.01280">"Sparse Autoencoders Reveal Temporal Difference
        Learning in Large Language Models"</a> has been accepted at ICLR!
    </span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">September 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> <a
        href="https://marcelbinz.github.io/imgs/Meta-learned_models_of_cognition.pdf"> Commentaries and
        responses</a> for our BBS paper are now available</span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">July 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> I presented my work on
      "Zero-shot Compositional Reinforcement Learning" in the <a href="https://workshop-compositionality-cogsci-2024.info/">Compositionality in minds, brains and
        machines</a> workshop at CogSci 2024 (Rotterdam)</span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">July 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> We are organizing a workshop
      on <a href="https://jacquespesnot.github.io/2024_CogSci_Workshop/"> In-context
        learning in natural and artificial intelligence </a> at CogSci 2024 (Rotterdam)</span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">July 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> I will be at ICML in Vienna
      to present two of our works: <a href="https://arxiv.org/abs/2402.01821">
        "Ecologically rational meta-learned inference explains human category learning"</a> and
      <a href="https://arxiv.org/abs/2402.03969"> "In-context learning agents are asymmetric belief updaters"</a>
    </span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">June 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      I presented my work on "Ecologically Rational Meta-learned Inference" at the Indian Institue of Science, Bangalore
    </span>
  </div>

     <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">October 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> Preprint out on <a
        href="https://arxiv.org/abs/2410.01280">"Sparse Autoencoders Reveal Temporal Difference
        Learning in Large Language Models"</a> and <a
        href="https://akjagadish.github.io/assets/Centaur_3_1__a_foundation_model_of_human_cognition.pdf">"Centaur: a foundation model of human cognition"</a> 
    </span>
  </div>


<!--       <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">February 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> Preprint out on <a
        href="https://arxiv.org/abs/2502.00879">"Towards Automation of Cognitive Modeling using Large Language Models"</a> 
    </span>
  </div> -->
   <!-- <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">March 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      New York Times wrote a piece called <a href="http://www.nytimes.com/2025/03/17/science/chatgpt-digital-therapists-anxiety.html">"Digital Therapists Get Stressed Too, Study Finds"</a> on our recently published article <a href="https://www.nature.com/articles/s41746-025-01512-6">“Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in
        Large Language Models</a>!
    </span>
  </div>
    
<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">March 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      Fortune magazine <a href="https://fortune.com/2025/03/09/openai-chatgpt-anxiety-mindfulness-mental-health-intervention/?abc123"> interviewed </a> one of our co-authors about our recent article “Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in
        Large Language Models!
    </span>
  </div>
    

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">March 2025</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      ScienceDaily has written an <a href="https://www.sciencedaily.com/releases/2025/03/250303141645.htm"> accessible article </a> on our paper “Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in
        Large Language Models!
    </span>
  </div> -->
<!--   <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">May 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;">
      Preprint out on <a href="https://osf.io/j7fwb">“Chat-GPT on the Couch”: Assessing and Alleviating State Anxiety in
        Large Language Models</a>
    </span>
  </div> -->

</div>
<!-- ---
layout: page
title: Projects
--- -->
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section> -->
