---
title: Projects
layout: page
---
<div style="margin-top: 10px;"></div>
<div style="display: flex; flex-direction: column; gap: 20px;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">October 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> Preprint out on <a
        href="https://arxiv.org/abs/2410.01280">"Sparse Autoencoders Reveal Temporal Difference
        Learning in Large Language Models"</a></span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">September 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> <a
        href="https://marcelbinz.github.io/imgs/Meta-learned_models_of_cognition.pdf"> Commentaries and
        responses</a> for our BBS paper are now available</span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">July 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> We are organizing a workshop
      on <a href="https://jacquespesnot.github.io/2024_CogSci_Workshop/"> In-context
        learning in natural and artificial intelligence </a> at CogSci 2024 (Rotterdam)</span>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="flex-shrink: 0; text-align: left; font-size: smaller; width: 100px;">May 2024</span>
    <span style="flex-grow: 1; text-align: right; font-size: smaller; margin-left: 20px;"> I will be at ICML in Vienna
      to present two of our works: <a href="https://arxiv.org/abs/2402.01821">
        Human-like Category Learning by Injecting Ecological Priors from Large Language Models into Neural Networks </a>
      and <a href="https://arxiv.org/abs/2402.03969"> In-context learning agents are asymmetric belief updaters</a>
    </span>
  </div>

</div>
<!-- ---
layout: page
title: Projects
--- -->
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section> -->